.App {
  text-align: center;
}

.Home {
  text-align: center;
}

.Space{
  margin-top: 150px;
}

canvas {
  cursor: crosshair;
  border: 1px solid #000000;
}

.box {
  text-align: center;
}

.CompanyName {
  color: blue;
  text-decoration: none;
  padding: 40px;
}

.ChildDiv {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
}

img {
  width: 30%;
  height: auto;
}

li {
  display: inline;
  float: left;
}

li a {
  color: black;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  color: grey;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}

.Footer {
  width:100%;
  height:40px;
  background: none;
}

.TryLink {
  color: blue;
  font-size: 30px;
  text-decoration: none;
}

.FindMore {
  font-size: 18px;
}

.StoryCollection {
  width: 100%;
}

.Story a{
  font-size: 15px;
}

.Link {
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 50px;
}

h2 {
  color: black;
  font-size: 20px;
}

h3 {
  color: black;
  font-size: 30px;
}